@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Saira+Stencil+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #190933;
    --secondary-color: #5DD9C1;
    --accent1-color: #665687;
    --accent2-color: #85EBCD;
  
    --heading-font: 'Saira Stencil One', 'Bradley Hand', sans-serif;
    --paragraph-font: 'Roboto', Helvetica, sans-serif;
  
    --nav-background-color: #B084CC;
    --nav-link-color: #85EBCD;
    --nav-hover-link-color: #5DD9C1;
    --nav-hover-background-color: #190933;
  }
.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
h1, article {
    position: absolute;
  }
article img {
    float: right;
  }
article {
    background-color:  rgba(255, 255, 255, .1);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }