@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Saira+Stencil+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    box-sizing: border-box;
  }
:root {
    --primary-color: #190933;
    --secondary-color: #5DD9C1;
    --accent1-color: #665687;
    --accent2-color: #85EBCD;
  
    --heading-font: 'Saira Stencil One', 'Bradley Hand', sans-serif;
    --paragraph-font: 'Roboto', Helvetica, sans-serif;
  
    --nav-background-color: #B084CC;
    --nav-link-color: #190933;
    --nav-hover-link-color: #85EBCD;
    --nav-hover-background-color: #5DD9C1;
}
header {
    padding: 0 3rem 0 3rem;
    margin: 2rem auto;
	display: grid;
	grid-template-columns: 120px 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
header img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.navigation a {
	color: var(--nav-link-color);
	text-decoration: none;
} 
.navigation a:hover {
	color: var(--nav-hover-link-color);
	font-weight: 900;
	text-decoration: underline;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 80px;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    text-align: center;
}
.hero article img {
    width: 20%;
    height: auto;
    float: right;
    margin: 10px;
}
article {
    background-color:  rgba(133, 235, 205,.5);
    position: absolute;
    top: 200px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 20px;
  }
.con {
    padding: 0;
    margin: 35px 0 35px 0;
} 
h3 {
    margin-top: 30px;
}
a {
    width: 40px;
    font-weight: 900;
    text-decoration: none;
    color: var(--nav-link-color);
}
.history div {
    text-align: center;
}
.history {
    display: flex;
}
.adventure {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.adventure h2 {
    justify-self: center;
    align-self: center;
    grid-column: span 6;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
  
.adventure figure img {
    max-width: 220px;
    max-height: 150px;
}
  
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
footer .social-links {
    justify-self: flex-end;
    align-self: center;
}
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.ct {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
.month {
    margin-top: 40px;
}
main {
    display: block;
}
.employee-img {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}
main {
    display: flex;
}
.contact{
    flex-basis: 40%;
}
.map {
    flex-basis: 55%;
}
section h2 {
    text-align: center;
}
form {
    width: 85%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent2-color);
    list-style: none;
}
form input, form textarea{
    width: 100%;
    background: #a09d9da8;
    outline: none;
    border: 0;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.contact {
    flex-basis: 35%;
}
.map {
    flex-basis: 60%;
}
.contact .links p i {
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 15px;
}
.social-links a img {
    width: 20px;
    text-decoration: none;
}
.social-links a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    color: var(--primary-color);
    display: inline-block;
    transition: 0.5s;
}
.social-links a:hover{
    color: var(--nav-hover-link-color);
    transform: translateY(-5px);
}
.credential div {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 30px;
}
.credential {
    border: 1px solid rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.g,.r,.w {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.purpose {
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0 30px 0 30px;
}
.purpose div {
    width: 100%;
    display: grid;
    grid-template-columns:.2fr 1.5fr .2fr 1.5fr .2fr 1.5fr;
    align-items: center;

} 
.message {
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0 30px 0 30px;
}
.sub {
    border: 1px solid rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: .7fr 6fr;
    align-items: center;
}
button {
    text-align: center;
    margin: 1rem;
    margin-left: 40%;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
.cm {
    text-align: center;
    margin-top: 35px;
}
.cs {
    text-align: center;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
}
