@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Saira+Stencil+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    box-sizing: border-box;
  }
:root {
    --primary-color: #190933;
    --secondary-color: #5DD9C1;
    --accent1-color: #665687;
    --accent2-color: #85EBCD;
  
    --heading-font: 'Saira Stencil One', 'Bradley Hand', sans-serif;
    --paragraph-font: 'Roboto', Helvetica, sans-serif;
  
    --nav-background-color: #B084CC;
    --nav-link-color: #190933;
    --nav-hover-link-color: #85EBCD;
    --nav-hover-background-color: #5DD9C1;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    /* width: 100%;
    height: auto; */
}
h1 {
    position: absolute;
    top: 80px;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    text-align: center;
}
article img {
    width: 20%;
    height: auto;
    float: right;
    margin: 10px;
}
article {
    background-color:  rgba(133, 235, 205,.5);
    position: absolute;
    top: 200px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 20px;
  }
a {
    text-decoration: none;
    color: var(--nav-link-color);
}