  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'rock_saltregular';
  src: url('../fonts/rocksalt-webfont.woff2') format('woff2'),
       url('../fonts/rocksalt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: #190933;
  --secondary-color: #5DD9C1;
  --accent1-color: #665687;
  --accent2-color: #85EBCD;

  --heading-font: 'Great Vibes', 'Bradley Hand', cursive;
  --paragraph-font: 'Roboto', Helvetica, sans-serif;

  --nav-background-color: #B084CC;
  --nav-link-color: #85EBCD;
  --nav-hover-link-color: #5DD9C1;
  --nav-hover-background-color: #190933;
}
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
  padding: 20px;
}
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}
nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}